@font-face {
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    src: url(../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf)format('truetype');
}

@font-face {
    font-family: 'ElectraLTStd-Regular';
    src: url(../fonts/ElectraLTStd-Regular.otf)format('opentype');
}

@font-face {
    font-family: 'ElectraLTStd-Cursive';
    src: url(../fonts/ElectraLTStd-Cursive.otf)format('opentype');
}
.downloadbutton
{
     border-radius: 10px;
  border: 1.4px solid #615A52;
  padding: 10px; 
  width: 93px;
  height: 33px;
    margin-top: 15px;
   
}
.cursive
{
   font-family: 'ElectraLTStd-Cursive'; 
}
.about
{
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
    z-index:1000;
}
.video
{
    background-blend-mode: multiply;
}
.dropdown-menu
{
   border: 0px;
z-index:-1000;
    height:40vh;
    width:100vw;
    
    overflow: hidden;
    top:0px;
    align-content: center;
}
.dropdown-menu:hover
{
   border: 0px;
z-index:-1000;
    height:40vh;
    background-color: inherit;
    overflow: hidden;
    top:0px;
}

.progress-indicator {
    position: fixed;
    bottom:0;
   left: 15px;
    right: 15px;
}
.text_two {
 top:15vh;
    
}
.text_three {
 top:30vh;
    padding-top: 100px;
}

body
{
    background-color: #FDF8EF;
}
.aboutimage
{
   z-index: -1000;
   top:15vh;
    
    overflow: hidden;
   

  
}

.logos
{
    position: absolute;
    width: 100%;
    bottom:30px;
    
    
}

.position-button{
    position: absolute;
    width: 100%;
    bottom:40px;
    
}
.paddingimg
{
    padding-top: 0px;
}
.bottom
{
    bottom:0px;
}
.logo
{
    float:center;
    bottom:50vh;
}
.logo2
{
    float:center;
    top:45vh;
}
.myvideo{

    margin-top:-90px;
    z-index:-1000;
    position: absolute;
}



a {
    color: #615A52;
    
}

.popup_content {
    margin: 10px;
    padding: 15px 15px;
    max-width: 100%;
    border: 0px solid #444;
    background: none;


}

a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.1;
}

button:active {
    background-color: none;
}

.mainmenu {
    text-align: center;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;

}


.popup1_open {
    color: #615A52;
    cursor: pointer;

}

.popup2_open {
    color: #615A52;
    cursor: pointer;
}

h6 {
    font-size: 36px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}

h5 {
    font-size: 16px;
}

h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 120px;
    line-height: 1.05;
    letter-spacing: -15px;
    color: #615A52;
    z-index:1000;
    position: absolute;
}

.menu {

    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    color: #615A52;
    padding-top: 15px;
    
}

.menu2 {

    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    color: #615A52;

}

.paddingbottom {
    margin-bottom: 15px;
}

h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 18px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}

h4 {
    
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h3 {
    
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    color: #615A52;
    font-family: 'ElectraLTStd-Regular';
    
    
}

.indent
{
    margin-left:-15px;
    
}



h7 {
   font-size: 36px;
    text-align: left;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;
    line-height: 1.2;


}



    .microtype
{
    font-size:16px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}

.transp {
    opacity: 0.2;
}



@media screen and (max-width: 450px) {
    
    .hide-mobile{
        display: none;
    }
    
    h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 75px;
    line-height: 1.05;
    letter-spacing: -10px;
    color: #615A52;
}
}

@media screen and (min-width: 1400px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 15px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 160px;
    line-height: 1.05;
    letter-spacing: -20px;
    color: #615A52;
}
    
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 20px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 20px;
}
    h4 {
    color: black;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 48px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:20px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}
h7 {
   font-size: 48px;
    text-align: left;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;
    line-height: 1.2;


}

}

@media screen and (min-width: 1600px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 15px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 200px;
    line-height: 1.05;
    letter-spacing: -26px;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 24px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 24px;
}
    h4 {
    color: black;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 48px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:24px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}
h7 {
   font-size: 48px;
    text-align: left;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;
    line-height: 1.2;


}

}

@media screen and (min-width: 2000px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 15px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 230px;
    line-height: 1.05;
    letter-spacing: -30px;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 24px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 24px;
}
    h4 {
    color: black;
    font-size: 52px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 52px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:24px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}
    h7 {
   font-size: 52px;
    text-align: left;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;
    line-height: 1.2;


}


}


@media screen and (min-width: 2400px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 20px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 250px;
    line-height: 1.05;
    letter-spacing: -35;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 56px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 24px;
}
    h4 {
    color: black;
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 56px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:24px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}

h7 {
   font-size: 56px;
    text-align: left;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;
    line-height: 1.2;


}
.downloadbutton
{
    border-radius: 10px;
    border: 1.4px solid #615A52;
    padding: 10px; 
    width: 130px;
    height: 36px;
    
   
    
   
}
   
}
