@font-face
    {
    font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    src: url(../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf)format('truetype');
}
@font-face
    {
    font-family:'ElectraLTStd-Regular';
    src: url(../fonts/ElectraLTStd-Regular.otf)format('opentype');
}

.icon
{
    background-color: black;
    height:200px;
}
.icon_2
{
    background-color: black;
    height:250px;
    margin-top:15px
       
}
.icon_3
{
    height:300px;
    opacity:0.9;
    margin-top:15px
    
       
}
.icon_4
{
    background-color: lightgrey;
    height:300px;
    opacity:0.9;
    margin-top:15px
       
}
.icon_5
{
    background-color: #D89487;
    height:300px;
    opacity:0.9;
    margin-top:15px
       
}
.icon_6
{
    background-color: black;
    height:300px;
    margin-top:15px
       
}
.icon_7
{
    background-color: lightgrey;
    height:300px;
    opacity:0.9;
    margin-top:15px
       
}

body
{
    background-color:#F4F2F2;
}
a
{
    color: #615A52;;
}
.popup_content {
  margin: 10px;
  padding: 15px 15px;
  max-width: 100%;
  border: 0px solid #444;
  background: none;

    
}
a:hover
{
    text-decoration: none;
    color:inherit;
    opacity: 0.1;
}
button:active
{
    background-color: none;
}
.mainmenu
{
    text-align: center;
    z-index: 2000;
    font-family:'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;
    
}

.popup1_open
{
    color:#615A52;
    cursor: pointer;
    
}
.popup2_open
{
    color:#615A52;
    cursor: pointer;
}

.proxima
{
   font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    font-size: 160px;
    line-height: 1;
    letter-spacing: 5px;
    color: #615A52; 
}

h5
{
    font-size: 16px;
}
h1
{
    
    font-family:'ElectraLTStd-Regular';
    font-size: 160px;
    line-height: 0.9;
    letter-spacing: 5px;
    color: #615A52;
}
.menu
{
   
    font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    color: #615A52;
}
.menu2
{
   
    font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    color: #615A52;

}
.paddingbottom
{
    margin-bottom: 15px;
}
h2
{
   
   font-family:'ElectraLTStd-Regular';
    font-size: 18px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
h4
{
    color: black;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}

h6
{ 
    font-size: 36px;
    font-weight: 300;
    color: #3D4348;
      text-align: center;
    z-index: 2000;
    font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;
    
    
}
.highlight
{
    color: aqua;
}
.transp
{
    opacity: 0.2;
}
@media screen and (min-width: 768px) {   .menu
{
   
    font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top:15px;
}}

@media screen and (min-width: 1158px) {       .menu
{
   
    font-family:'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top:15px;
}}