@font-face {
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    src: url(../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf)format('truetype');
}

@font-face {
    font-family: 'ElectraLTStd-Regular';
    src: url(../fonts/ElectraLTStd-Regular.otf)format('opentype');
}

.about
{
    padding-left:60px;
    padding-right:60px;
    padding-top:30px;
}
.video
{
    background-blend-mode: multiply;
}
.dropdown-menu
{
   border: 0px;
z-index:-1000;
    height:40vh;
    width:100vw;
    background-color: pink;
    overflow: hidden;
    top:0px;
    align-content: center;
}
.dropdown-menu:hover
{
   border: 0px;
z-index:-1000;
    height:40vh;
    background-color: inherit;
    overflow: hidden;
    top:0px;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: inherit;
    border-color:inherit;
    color: #615A52;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.dropright .dropdown-toggle::after {
    border-left: 0em;
}
.btn-primary
{
   background-color: inherit;
    color: #615A52;
    border:none;
    width:30vw;
    text-align: left;
    background-repeat: no-repeat;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    color: #615A52;
    font-family: 'ElectraLTStd-Regular';
    opacity:1;
    padding-left: 0px;
    
}
.btn-primary:hover
{
    background-color: inherit;
    color:#615A52;
}
.btn-primary:focus
{
    background-color: inherit;
    color:#615A52;
    box-shadow: 0px 0px 0px 0px;
    opacity:1;
}
.btn-primary:active
{
    background-color: inherit;
    color:#615A52;
    box-shadow: 0px 0px 0px 0px;
}
body
{
    background-color: #F5F3F3;
}
.aboutimage
{
    height:80vh;
    
    
    
    
}
.logo
{
    float:center;
    bottom:50vh;
}
.logo2
{
    float:center;
    top:45vh;
}
.myvideo{

    margin-top:-90px;
    z-index:-1000;
}
.video {
    z-index: -1000;
}



a {
    color: #615A52;
    
}

.popup_content {
    margin: 10px;
    padding: 15px 15px;
    max-width: 100%;
    border: 0px solid #444;
    background: none;


}

a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.1;
}

button:active {
    background-color: none;
}

.mainmenu {
    text-align: center;
    z-index: 2000;
    font-family: 'ElectraLTStd-Regular';
    padding-top: 15px;
    color: #615A52;

}

.popup1_open {
    color: #615A52;
    cursor: pointer;

}

.popup2_open {
    color: #615A52;
    cursor: pointer;
}



h5 {
    font-size: 16px;
}

h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 120px;
    line-height: 1.05;
    letter-spacing: -15px;
    color: #615A52;
}

.menu {

    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    color: #615A52;
    padding-top: 15px;
}

.menu2 {

    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    color: #615A52;

}

.paddingbottom {
    margin-bottom: 15px;
}

h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 18px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}

h4 {
    
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h3 {
    
    font-size: 36px;
    font-weight: 300;
    text-align: left;
    color: #615A52;
    font-family: 'ElectraLTStd-Regular';
    
    
}


h6 {
    font-size: 36px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}

    .microtype
{
    font-size:16px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}

.transp {
    opacity: 0.2;
}

@media screen and (max-width: 450px) {
    
    h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 75px;
    line-height: 1.05;
    letter-spacing: -10px;
    color: #615A52;
}
}

@media screen and (min-width: 1400px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 15px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 160px;
    line-height: 1.05;
    letter-spacing: -20px;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 20px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 20px;
}
    h4 {
    color: black;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 48px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:20px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}


}

@media screen and (min-width: 1600px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 15px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 200px;
    line-height: 1.05;
    letter-spacing: -26px;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 24px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 24px;
}
    h4 {
    color: black;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 48px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:24px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}


}

@media screen and (min-width: 2000px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 15px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 230px;
    line-height: 1.05;
    letter-spacing: -30px;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 24px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 24px;
}
    h4 {
    color: black;
    font-size: 52px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 52px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:24px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}


}


@media screen and (min-width: 2400px) {
    .menu {

        font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
        padding-top: 20px;
        
        
    }
    
h1 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 250px;
    line-height: 1.05;
    letter-spacing: -35;
    color: #615A52;
}
h2 {

    font-family: 'ElectraLTStd-Regular';
    font-size: 56px;
    text-align: left;
    color: #615A52;
    line-height: 1.2;
}
    h5 {
    font-size: 24px;
}
    h4 {
    color: black;
    font-size: 56px;
    font-weight: 300;
    text-align: center;
    color: #615A52;
}
h6 {
    font-size: 56px;
    font-weight: 300;
    color: #3D4348;
    text-align: center;
    z-index: 2000;
    font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    padding-top: 15px;
    text-align: left;
    color: #615A52;


}
    .microtype
{
    font-size:24px;
       font-family: 'FontsFree-Net-proxima_nova_reg-webfont';
    line-height: 10px;
    
}


}
